<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=LAPTOP-M57N9BJ9\SQLEXPRESS;Initial Catalog=db_foro;Persist Security Info=True;User ID=sa;Password=admin"></add>  
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
